:root {
    --color-primary: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    
}

/***********************
* HEADER E PRESENTATION
************************/
.presentation {
    display: flex;
}

.presentation header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71%); /* efeito do header */
    background: linear-gradient(82deg, rgba(159,159,159,0.9948354341736695) 0%, rgba(112,112,112,1) 100%);
    width: 100%;
}


.presentation header h1 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 60px 0 5px 0;
    
}  

.presentation header h2 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
   
}

.presentation header p {
    color: #fff;
    font-size: 14px;
    
}

.nav-bar  {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    
}

.nav-bar ul li {
    display: flex;
    align-items: center;
    margin: 0 15px;
    
    
}
    
.nav-bar ul li a {
    text-decoration: none;
    color: var(--color-primary);
    background-color: #fff;
    font-size: 14px;
    padding: 8px 25px;
    border-radius: 4px;
    width: 160px;
    text-align: center;
    
}

@media(max-width: 900px) {

    .presentation header {
        display: flex;
        align-items: flex-start;
        /*align-items: flex-start; */
    }

    .presentation header h1 {
       margin-left: 10px;
        margin-bottom: 0;
        margin-top: 40px;
    }

    .presentation header h2 {
        margin-bottom: 0;
        font-size: 35px;
        margin-left: 10px; 
    }

    .presentation header p {
        margin: 10px 10px 30px;
    }

    .nav-bar {
        margin-top: 0;
    }


    .nav-bar ul {
        flex-wrap: wrap;
        /*margin: auto 20px; */
        display: flex;
        justify-content: center;
    }
    

    .nav-bar ul li {
        margin: 0px 10px;
    }
    
    .nav-bar ul li a {
        margin-bottom: 15px;
        width: 140px;
        text-align: center;
        padding: 10px 0;

    }
        
}


/**************
* FORMULÁRIO
***************/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-primary);
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.container .formulario {
    display: flex;
    font-size: 12px;
}    
  
.formulario .text {
    padding: 30px 55px 30px 0;
    width: 520px;
   
}
   
   
    

.formulario  .text h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}



.formulario .form {
    width: 340px;
    padding: 30px 0;
    
    
}

.formulario .form input {
    margin: 5px 0 15px 0;
    width: 100%;
    padding: 5px 0;
    outline: none;
}
    
    

/* input-sexo */
.formulario .form .input-sexo {
    display: flex;
    width: 20%;
    align-items: center;
   
    
}

.formulario .form .input-sexo div {
    align-items: center;
    display: flex;
    
}

.formulario .form .input-sexo div input{
    align-items: center;
    margin: 0 5px 0 0;
}

.formulario .form .input-sexo div:last-child {
    margin-left: 35px;
}

/* Erro caso os input não forem preenchidos */
.inputError {
    border: 1px solid red;
   
}

/* span erro */
.erro {
    display: flex;
    justify-content: center;
    color: red;
}



.formulario .form button {
    color: var(--color-primary);
    width: 100%;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid var(--color-primary);
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
}

/* ao clicar enviar */
.sendSucess {
    display: flex;
    color: green;
    justify-content: center;
    margin-top: 8px;
    
}

@media(max-width: 900px) {
    .container {
        max-width: 420px;
        margin: 0;
    }

    .container .formulario {
        flex-direction: column;
        max-width: 420px;
    }
    .formulario .text {
        width: 100%;
        padding: 20px;
    }
    .formulario .form {
        width: 100%;
        padding: 20px;
        margin-top: -30px;
    }
}



/**********
* PRODUCTS
***********/

.products {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    width: 1200px;
   
    
}

.products .title-products {
    width: 100%;
    padding: 35px 0;
    
}

.products .title-products h2 {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 8px 0;

}

/* aplicando linha entre o H2 */
.products .title-products h2::before,
.products .title-products h2::after{
    display: block;
    content: "";
    width: 38%;
    height: 2px;
    background-color: var(--color-primary);
    margin: 0px 8px;
}

.products .catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.products .catalog .product-item {
    width: 25%;
    max-width: 220px;
    margin: 0px 20px;
  }

.products .catalog .product-item .image-item {
    height: 150px;
    margin-bottom: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
.products .catalog .product-item h4.name-item {
    font-size: 16px;
    padding-bottom: 10px;
  }

.products .catalog .product-item p {
    font-size: 14px;
    padding-bottom: 14px;
  }

.products .catalog .product-item span {
    font-size: 13px;
    display: block;
  }

.products .catalog .product-item h4.price-item {
    font-size: 18px;
    color: #707070;
    padding: 7px 0px;
  }

.products .catalog .product-item a.buttom-item {
    display: flex;
    color: var(--color-primary);
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 6px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;

}    

.products .container-loadMore {
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 42px;
  }
  
  .products .container .container-loadMore .loading {
    content: '<img src="assets/loading.gif" width="40px" height="40px" />';
  }
.products .container-loadMore .btn-loadMore {
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    margin-bottom: 50px;

  }

  @media(max-width: 1200px) {
    .products {
        width: 100%;
    }

    .products .title-products {
        text-align: center;
    }

    .products .title-products h2::before,
    .products .title-products h2::after{
    width: 24%;
    margin: 0 auto;
    }

    .products .catalog {
        display: block;
        width: 100%;
    }

    .products .catalog .product-item {
        display: flex;
        width: 90%;
        max-width: 420px;
        margin: 0px 10px;
    }

    .products .catalog .product-item .image-item {
        border: 1px solid var(--color-primary);
        margin-right: 20px;
        width: 150px;
    }

    .products .catalog .product-item p {
        display: none;
    }

    .products .catalog .product-item a.buttom-item {
        width: 190px;
    }
  }

/**************
* COMPARTILHE
**************/

.compartilhe {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    height: 370px;
    
}

.compartilhe .title {
    text-align: center;
    width: 100%;
    
}

.compartilhe .title h2 {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 48px 0;
}

.compartilhe .title h2::before,
.compartilhe .title h2::after {
    display: block;
    content: "";
    width: 38%;
    height: 2px;
    background-color: var(--color-primary);
    margin: 0px 3px;
}

.compartilhe .title h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.compartilhe  .form2 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    
    
}

.compartilhe .form2 div {
    display: flex;
    
    justify-content: center;
    width: 100%;
}
    
.compartilhe .form2 div label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 40%;
    margin:0 20px;
} 

.compartilhe .form2 div label input {
    outline: none;
    margin-top: 8px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);

}

.compartilhe .form2 button {
    width: 260px;
    background-color: #fff;
    color: var(--color-primary);
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    margin-top: 40px;

    
}

@media(max-width: 900px) {
    .compartilhe {
        max-width: 380px;
    }

    .compartilhe .title h2 {
        font-size: 18px;
    }

    .compartilhe .title h2::before,
    .compartilhe .title h2::after {
        width: 24%;
        margin: 0 auto;
        
    }

    .compartilhe  .form2 {
        padding: 14px;
    }

    .compartilhe .form2 div {
        flex-direction: column;
        align-items: center;
    }

    .compartilhe .form2 div label {
        width: 90%;
        margin-bottom: 16px;
    }

    .compartilhe .form2 button {
        margin-top: 15px;
    }
}

/*********
* FOOTER
**********/

footer {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 29%, 100% 0, 100% 100%, 0 100%);
}

footer div {
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

footer div span {
    margin-bottom: 5px;
}


@media(max-width: 900px) {
    footer {
        height: 150px;
        margin-top: 20px;
    }
}    
    
    

    
    


   
   

   
   







