:root {
    --color-primary: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    
}

/**************
* PRESENTATION
***************/


.presentation header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71%); /* efeito do header */
    background: linear-gradient(82deg, rgba(159,159,159,0.9948354341736695) 0%, rgba(112,112,112,1) 100%);
    width: 100%;
}


.presentation header h1 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 60px 0 5px 0;
    
}  

.presentation header h2 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
   
}

.presentation header p {
    color: #fff;
    font-size: 14px;
    
}

.nav-bar  {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    
}

.nav-bar ul li {
    display: flex;
    align-items: center;
    margin: 0 15px;
    
    
}
    
.nav-bar ul li a {
    text-decoration: none;
    color: var(--color-primary);
    background-color: #fff;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 4px;
    
}


/**************
* FORMULÁRIO
***************/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-primary);
    align-items: center;
}

.container .formulario {
    display: flex;
    font-size: 12px;
}    
  
.formulario .text {
    padding: 30px 55px 30px 0;
    width: 520px;
   
}
   
   
    

.formulario  .text h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}



.formulario .form {
    width: 340px;
    padding: 30px 0;
    
    
}

.formulario .form input {
    margin: 5px 0 15px 0;
    width: 100%;
    padding: 5px 0;
    outline: none;
}
    
    

/* input-sexo */
.formulario .form .input-sexo {
    display: flex;
    width: 20%;
    align-items: center;
   
    
}

.formulario .form .input-sexo div {
    align-items: center;
    display: flex;
    
}

.formulario .form .input-sexo div input{
    align-items: center;
    margin: 0 5px 0 0;
}

.formulario .form .input-sexo div:last-child {
    margin-left: 35px;
}
    

.formulario .form button {
    color: var(--color-primary);
    width: 100%;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid var(--color-primary);
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
}

/**********
* PRODUCTS
***********/

.products {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    
}

.products .title-products {
    text-align: center;
    width: 100%;
    padding: 35px 0;
    
}

.products .title-products h2 {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 8px 0;

}

/* aplicando linha entre o H2 */
.products .title-products h2::before,
.products .title-products h2::after{
    display: block;
    content: "";
    width: 38%;
    height: 2px;
    background-color: var(--color-primary);
    margin: 0px 8px;
}

.products .catalog {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.products .catalog div {
    display: flex;
    flex-direction: column;
}

.products .catalog img {
    width: 200px;
    height: 150px;
    border: 1px solid var(--color-primary);
    margin-bottom: 15px;
}    



.products .catalog .description {
    display: flex;
    flex-direction: column;
}
    
.products .catalog .description span,
.products .catalog .description p {
    margin-bottom: 10px;
}    

 .products .catalog button
{
    background-color: #fff;
    color: var(--color-primary);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    
}

 .products .button-last-page {
    width: 260px;
    background-color: #fff;
    color: var(--color-primary);
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    margin: 30px 0 70px 0;
}

/**************
* COMPARTILHE
**************/

 .compartilhe {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    height: 370px;
    
}

.compartilhe .title {
    text-align: center;
    width: 100%;
    
}

.compartilhe .title h2 {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 48px 0;
}

.compartilhe .title h2::before,
.compartilhe .title h2::after {
    display: block;
    content: "";
    width: 38%;
    height: 2px;
    background-color: var(--color-primary);
    margin: 0px 3px;
}

.compartilhe .title h3 {
    font-size: 14px;
    font-weight: 400;
}

.compartilhe  .form2 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    
    
}

.compartilhe .form2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
    
.compartilhe .form2 div label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 40%;
    margin-right: 30px;
} 

.compartilhe .form2 div label input {
    outline: none;
    margin-top: 8px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);

}

.compartilhe .form2 button {
    width: 260px;
    background-color: #fff;
    color: var(--color-primary);
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    margin-top: 40px;

    
}

    
    
    
    
    

    
    


   
   

   
   







